@tailwind base;
@tailwind components;
@tailwind utilities;
.btn-blue {
  @apply px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700;
}
.btn-gray {
  @apply px-4 py-2 bg-gray-100 rounded-lg hover:bg-gray-200;
}
